ipykernel >= 5.1.4
qtconsole >= 4.3
qasync >= 0.23.0
jupyter-client >= 6, != 7.0.*, != 7.1.*, != 7.2.*, != 7.3.*, != 7.4.0, != 7.4.1, != 7.4.2, != 7.4.3, != 7.4.4, != 7.4.5, != 7.4.6, != 7.4.7
nbformat >= 5.7.0